#app {
	padding-bottom: 30px;
}

#login-form {
	display: block;
}

#room {
	display: none;
}

#hand-action .fa { font-size: 8em; }
#hand-action .fa:hover { cursor: pointer; }

#hand-action .fa-question-circle { color: #5cb85c; }
#hand-action .fa-question-circle:hover { color: #449d44; }

#hand-action .fa-times-circle { color: #d9534f; }
#hand-action .fa-times-circle:hover { color: #c9302c; }

#people-list {
	list-style-type: none;
}

#people-list p:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	padding-right: 10px;
	font-size: 1.25em;
	top: 2px;
	position: relative;
}
#people-list p.waiting:before {
	content: "\f059";
	color: #5cb85c;
}
#people-list p.not-waiting:before {
	content: "\f057";
	color: #d9534f;
}

#people-list p.waiting a {
	cursor: pointer;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 100px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 100px;
	background-color: #f5f5f5;
}

.footer .container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}
.footer .container .text-muted {
	margin: 20px 0;
}

.source a {
	color: #ccc;
}

.source a:hover {
	color: #bbb;
}